@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.mogo-h{
    font-family: Poppins;
    font-size: larger;
}
.mogo-p{
    font-family: Poppins;
    font-size: medium;
}

.project-h{
    font-family: Poppins;
    font-size: larger;
}
.project-p{
    font-family: Poppins;
    font-size: medium;
}

.about-h{
    font-family: Poppins;
    font-size: larger; 
}
.about-p{
    font-family: Poppins;
    font-size: medium;
}
.year-img{
    width: 350px;
    height: 200px; 
}
img{
    width: 350px;
    height: 200px;
}
.year-h{
    font-family: Poppins;
    font-size: larger;
}
.year-p{
    font-family: Poppins;
    font-size: medium;
}
.jobs{
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav-list-link{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.logo{

    
    
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-logo{
    color: #000000;
}
.contacts-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
.contacts-list-link:hover,.nav-list-link:hover{
    color: #2196F3;
}
header{
    justify-content: center;
    gap: 93px;
    display: flex;
align-items: center;
}
.nav-list,.contacts-list{
    display: flex;
    gap: 50px;
}
.section-hero{
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-hero-title{
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
width: 696px;
margin: 0 auto;

}
.section-hero-btn{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 30px;
}
.section-hero-btn:hover{
    cursor: pointer;
    background-color: #2196F3;
}
.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.features-list-title{
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
}
.features-list-text{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;

}
ul,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
  }
  address {
    font-style: normal;
  }
.features-list-title{
    margin-bottom: 10px;
}
.work-title{
    margin-bottom: 50px;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:#212121;
}
.work-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team-title{
    margin-bottom: 50px;
 font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:#212121;
}

.team-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.section-work{
    padding-bottom: 94px;

}
.footer-logo{
    color:#FFFFFF;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background:  #2F303A ;
}
.address{
    margin-top: 20px;

}
.address-list-link{
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;    
}
.logo-2{
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.box{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    margin: 0;
}
.portfolio-section{
padding-top: 94px;
padding-bottom: 94px;
max-width: 1200px;
margin: 0 auto;
}
.filters-list{
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 30px;
}
.filters-list-btn:hover{
    cursor: pointer;
    background-color: #2196F3;
    color: white;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.input-name,.input-tel,.input-email{
    width: 100%;
    height: 40px;
    border: none;
    
}
label{
    display: block;
    margin-bottom: 10px;
}

textarea{
    resize: none;
    border: none;
    width: 100%;
    height: 120px;
}
    
    
    .backdrop{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal{
        border-radius: 12px;
        background-color: rgb(5, 1, 81);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 528px;
        
        padding: 40px;
    }
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    button{ 
        cursor: pointer;
        border-radius: 12px;
        font-family: "Poppins";
        display: flex;
        font-size: x-small;
        justify-content: center;
        background-color: #000000;
        color: aqua;
        width: 60px;
        height: 15px;
    }
    input,textarea{
        font-family: "Poppins";
        border-radius: 6px;
    }
    button:hover{
       
        background-color: #ff0000;
        color: #000000;
    }
    .button{
        cursor: pointer;
        border-radius: 12px;
        font-size: x-large;
        font-family: "Poppins";
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: #000000;
        color: aqua;
        width: 150px;
        height: 30px;
        
    }
    .button:hover{
        
        background-color: #ffffff;
        color: #000000;
    }
    textarea{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 300px;
        height: 160px;
    }
    input{
        width: 150px;
    }
    .jobs li{
    width: 350px;
    }

